# --- Required settings even when working locally. ---
APP_NAME="Idiolect"
APP_VERSION="0.1"

# LLM Config
GENERATION_BACKEND = "OPENAI"
EMBEDDING_BACKEND = "JINA"

GENERATION_MODEL_ID=gpt-4o-mini
EMBEDDING_MODEL_ID=str
EMBEDDING_MODEL_SIZE=int

OPENAI_API_KEY=str
COHERE_API_KEY=str
JINA_API_KEY=str
OPENAI_API_URL=str

# INPUT_DEFAULT_MAX_CHARACTERS=1024
# GENERATION_DEFAULT_MAX_TOKENS=200
# GENERATION_DEFAULT_TEMPERATURE=0.1

# Huggingface API Config
HUGGINGFACE_ACCESS_TOKEN=str

# Comet ML (during training and inference) 
COMET_API_KEY=str

# --- Required settings when deploying the code. ---
# --- Otherwise, default values work fine. ---

# MongoDB database
DATABASE_HOST="mongodb://******:*******@127.0.0.1:27017"

# Qdrant vector database
USE_QDRANT_CLOUD=false
QDRANT_CLOUD_URL=str
QDRANT_APIKEY=str

# AWS Authentication
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost.floci.io:4566

AWS_ROLE_ARN=arn:aws:iam::000000000000:role/idiolect-sagemaker-role
